*.aux
*.bbl
*.blg
*.log
*.nav
*.run.xml
*.snm
*.out
*.synctex.gz
*.toc
*-blx.bib
*vtu
*vrb
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
*~
*#
build/
install/
*.orig
filepath.txt
__pycache__
auto